<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Currency Converter</title>
</head>
<body>
  <body>
    <div class="card">
      <h2 class="card__heading">Sorry Error occurred</h2>
    </div>
  </body>
</body>
</html>